.active{
width: 400px;length:200px;
}

#de{
  width: 400px;lengt: 200px;
}
#za{
  width: 400px; length 200px;
}
#mjdunk{
  margin-right: 100px;
  width: 1265px; height: 300px;
}
#pippen{
  margin-right: 100px;
  width:1265px; height: 300px;
}